logbot.json
{
  "name": "Logbot",
  "nodes": [
    {
      "parameters": {
        "promptType": "define",
        "text": "=du bist ein log auswerte bot analysiere die gegebenen logs und antworte auf basis der frage nach dem was du in den logs findest\n\ndas sind die Logs:\n{{ $json.logText }}",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [272, -64],
      "id": "ai-agent",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "claude-haiku-4-5-20251001",
          "mode": "list",
          "cachedResultName": "Claude Haiku 4.5"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatAnthropic",
      "typeVersion": 1.3,
      "position": [272, 160],
      "id": "anthropic-model",
      "name": "Anthropic Chat Model",
      "credentials": {
        "anthropicApi": {
          "id": "{{ ANTHROPIC_CREDENTIAL_ID }}",
          "name": "Anthropic account"
        }
      }
    },
    {
      "parameters": {
        "chatId": "={{ $('Telegram Trigger').item.json.message.chat.id }}",
        "text": "Keine Logs vorhanden.",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [-32, 176],
      "id": "telegram-no-logs",
      "name": "Telegram: Keine Logs",
      "credentials": {
        "telegramApi": {
          "id": "{{ TELEGRAM_CREDENTIAL_ID }}",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "updates": ["message"],
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegramTrigger",
      "typeVersion": 1.2,
      "position": [-512, -48],
      "id": "telegram-trigger",
      "name": "Telegram Trigger",
      "credentials": {
        "telegramApi": {
          "id": "{{ TELEGRAM_CREDENTIAL_ID }}",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "url": "={{ $env.LOGBOT_WEBHOOK_URL }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [-336, -48],
      "id": "http-fetch-logs",
      "name": "HTTP: Logs abrufen"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 3
          },
          "conditions": [
            {
              "id": "check-log-count",
              "leftValue": "={{ $json.count }}",
              "rightValue": 0,
              "operator": {
                "type": "number",
                "operation": "gt"
              }
            }
          ],
          "combinator": "and"
        },
        "looseTypeValidation": true,
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [-176, -48],
      "id": "if-logs-exist",
      "name": "IF: Logs vorhanden"
    },
    {
      "parameters": {
        "jsCode": "const items = $input.all();\nconst data = items[0].json;\nconst logs = data.logs || [];\n\nlet text = `Log-Analyse (${data.count} Einträge)\\n`;\ntext += `Zeitraum: letzte ${data.query.since_minutes} Minuten\\n\\n`;\n\nfor (const log of logs) {\n  text += `[${log.timestamp}] ${log.level.toUpperCase()} - ${log.hostname}\\n`;\n  text += `${log.message}\\n\\n`;\n}\n\nreturn [{ json: { logText: text, count: data.count } }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [64, -64],
      "id": "code-format-logs",
      "name": "Code: Logs formatieren"
    },
    {
      "parameters": {
        "chatId": "={{ $('Telegram Trigger').item.json.message.chat.id }}",
        "text": "={{ $json.output }}",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [608, -64],
      "id": "telegram-send-analysis",
      "name": "Telegram: Analyse senden",
      "credentials": {
        "telegramApi": {
          "id": "{{ TELEGRAM_CREDENTIAL_ID }}",
          "name": "Telegram account"
        }
      }
    }
  ],
  "connections": {
    "Anthropic Chat Model": {
      "ai_languageModel": [
        [{ "node": "AI Agent", "type": "ai_languageModel", "index": 0 }]
      ]
    },
    "AI Agent": {
      "main": [
        [{ "node": "Telegram: Analyse senden", "type": "main", "index": 0 }]
      ]
    },
    "Telegram Trigger": {
      "main": [
        [{ "node": "HTTP: Logs abrufen", "type": "main", "index": 0 }]
      ]
    },
    "HTTP: Logs abrufen": {
      "main": [
        [{ "node": "IF: Logs vorhanden", "type": "main", "index": 0 }]
      ]
    },
    "IF: Logs vorhanden": {
      "main": [
        [{ "node": "Code: Logs formatieren", "type": "main", "index": 0 }],
        [{ "node": "Telegram: Keine Logs", "type": "main", "index": 0 }]
      ]
    },
    "Code: Logs formatieren": {
      "main": [
        [{ "node": "AI Agent", "type": "main", "index": 0 }]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": false
  },
  "pinData": {},
  "active": false
}
