Logbot.json
{
  "name": "Logbot",
  "nodes": [
    {
      "parameters": {
        "promptType": "define",
        "text": "=du bist ein log ausdwerte bot analysiere die gegebenen logs und antworte auf basis der frage nach dem was du in den logs findest\n\ndas sind die Logs:\n{{ $json.message }}\n\nWICHTIG: Beende deine Antwort IMMER mit genau dieser Zeile (ohne Änderung):\nCHATID:{{ $json.chatId }}",
        "options": {
          "systemMessage": "Formatiere den Output ncoh entsprechend sauber lesbar und anchvollziehbar"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        384,
        -64
      ],
      "id": "7a221e16-c3f7-44e4-837e-d609cd85fb88",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "claude-3-haiku-20240307",
          "mode": "list",
          "cachedResultName": "Claude Haiku 3"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatAnthropic",
      "typeVersion": 1.3,
      "position": [
        464,
        160
      ],
      "id": "7008b026-89e6-4cf4-95e6-dc58cef7ac1f",
      "name": "Anthropic Chat Model",
      "credentials": {
        "anthropicApi": {
          "id": "YOUR_CREDENTIAL_ID",
          "name": "YOUR_CREDENTIAL_NAME"
        }
      }
    },
    {
      "parameters": {
        "chatId": "={{ $('Ich frage nach den aktuellen Logs').item.json.message.chat.id }}",
        "text": "Keine Logs da.",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        160,
        128
      ],
      "id": "bfc2a1e3-4387-43cc-aeac-33e93d2dd41e",
      "name": "Wenn keine Logs da sind bescheid geben",
      "webhookId": "",
      "credentials": {
        "telegramApi": {
          "id": "YOUR_CREDENTIAL_ID",
          "name": "YOUR_CREDENTIAL_NAME"
        }
      }
    },
    {
      "parameters": {
        "updates": [
          "message"
        ],
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegramTrigger",
      "typeVersion": 1.2,
      "position": [
        -512,
        32
      ],
      "id": "0ad12d42-942c-4b84-a579-86b0051ef3fc",
      "name": "Ich frage nach den aktuellen Logs",
      "webhookId": "",
      "credentials": {
        "telegramApi": {
          "id": "YOUR_CREDENTIAL_ID",
          "name": "YOUR_CREDENTIAL_NAME"
        }
      }
    },
    {
      "parameters": {
        "url": "https://YOUR_LOGBOT_URL/api/webhook/1/call?token=YOUR_TOKEN",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        -288,
        32
      ],
      "id": "0b7d839a-3e71-491f-bb52-23302775f67c",
      "name": "Logs werden vom Logbot geholt"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 3
          },
          "conditions": [
            {
              "id": "ad317096-06b0-4c1b-bad1-500b1582701a",
              "leftValue": "={{ $json.id }}",
              "rightValue": 0,
              "operator": {
                "type": "number",
                "operation": "gt"
              }
            }
          ],
          "combinator": "and"
        },
        "looseTypeValidation": true,
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        -64,
        32
      ],
      "id": "f4c71b23-ed79-463a-902d-f6c0866cd092",
      "name": "Logs da Ja/Nein"
    },
    {
      "parameters": {
        "jsCode": "const items = $input.all();\nconst chatId = $('Ich frage nach den aktuellen Logs').first().json.message.chat.id;\nconst logs = items.map(i => i.json);\nconst count = logs.length;\n\nlet text = \"Log-Analyse (\" + count + \" Eintraege)\\n\\n\";\n\nfor (const log of logs) {\n  text += \"[\" + log.timestamp + \"] \" + log.level.toUpperCase() + \" - \" + log.hostname + \"\\n\";\n  text += log.message + \"\\n\\n\";\n}\n\nreturn [{ json: { message: text, count: count, chatId: String(chatId) } }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        160,
        -64
      ],
      "id": "a119f44a-4857-40d0-bdfb-71e62ea6720d",
      "name": "Wenn Logs da sind Claude lesbar machen"
    },
    {
      "parameters": {
        "chatId": "={{ $json.chatId }}",
        "text": "={{ $json.text }}",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        960,
        -64
      ],
      "id": "64609b01-368e-4fe9-8532-b644134ad7ac",
      "name": "Log Analyse zuschicken",
      "webhookId": "",
      "credentials": {
        "telegramApi": {
          "id": "YOUR_CREDENTIAL_ID",
          "name": "YOUR_CREDENTIAL_NAME"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const output = $input.first().json.output;\nconst match = output.match(/CHATID:(\\d+)/);\nconst chatId = match ? match[1] : '';\nconst text = output.replace(/\\n*CHATID:\\d+/, '').trim();\n\nreturn [{ json: { chatId: chatId, text: text } }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        736,
        -64
      ],
      "id": "e2c5549c-a3e2-429e-b114-95191a4c998e",
      "name": "Output aufteilen"
    }
  ],
  "pinData": {},
  "connections": {
    "Anthropic Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Output aufteilen",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Ich frage nach den aktuellen Logs": {
      "main": [
        [
          {
            "node": "Logs werden vom Logbot geholt",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Logs werden vom Logbot geholt": {
      "main": [
        [
          {
            "node": "Logs da Ja/Nein",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Logs da Ja/Nein": {
      "main": [
        [
          {
            "node": "Wenn Logs da sind Claude lesbar machen",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Wenn keine Logs da sind bescheid geben",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wenn Logs da sind Claude lesbar machen": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Output aufteilen": {
      "main": [
        [
          {
            "node": "Log Analyse zuschicken",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": false,
    "timeSavedMode": "fixed",
    "callerPolicy": "workflowsFromSameOwner",
    "errorWorkflow": "BmuRAgcIiLS0QFgO"
  },
  "versionId": "",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": ""
  },
  "id": "",
  "tags": []
}
