Logbot.json
{
  "name": "Logbot",
  "nodes": [
    {
      "parameters": {
        "promptType": "define",
        "text": "=du bist ein log ausdwerte bot analysiere die gegebenen logs und antworte auf basis der frage nach dem was du in den logs findest\n\ndas sind die Logs:\n{{ $json.message }}\n\nWICHTIG: Beende deine Antwort IMMER mit genau dieser Zeile (ohne Änderung):\nCHATID:{{ $json.chatId }}",
        "options": {
          "systemMessage": "Formatiere den Output ncoh entsprechend sauber lesbar und anchvollziehbar"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        384,
        -64
      ],
      "id": "7a221e16-c3f7-44e4-837e-d609cd85fb88",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "claude-3-haiku-20240307",
          "mode": "list",
          "cachedResultName": "Claude Haiku 3"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatAnthropic",
      "typeVersion": 1.3,
      "position": [
        464,
        160
      ],
      "id": "7008b026-89e6-4cf4-95e6-dc58cef7ac1f",
      "name": "Anthropic Chat Model",
      "credentials": {
        "anthropicApi": {
          "id": "kNcQg7qqdb6vhXtR",
          "name": "n8n-default"
        }
      }
    },
    {
      "parameters": {
        "chatId": "={{ $('Ich frage nach den aktuellen Logs').item.json.message.chat.id }}",
        "text": "Keine Logs da.",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        160,
        128
      ],
      "id": "bfc2a1e3-4387-43cc-aeac-33e93d2dd41e",
      "name": "Wenn keine Logs da sind bescheid geben",
      "webhookId": "74ec54f4-0e94-4178-968d-9ecb5820e4f6",
      "credentials": {
        "telegramApi": {
          "id": "Q6euroUz6oZYB6fj",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "updates": [
          "message"
        ],
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegramTrigger",
      "typeVersion": 1.2,
      "position": [
        -512,
        32
      ],
      "id": "0ad12d42-942c-4b84-a579-86b0051ef3fc",
      "name": "Ich frage nach den aktuellen Logs",
      "webhookId": "d1710268-6a40-4388-a50c-099a5d6b4929",
      "credentials": {
        "telegramApi": {
          "id": "Q6euroUz6oZYB6fj",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "url": "https://logbot.phytech.de/api/webhook/1/call?token=dcec86873d68f93c0d46ac8c6bf99d12f67693e4fea8cfef993cf0b5b9411d65",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        -288,
        32
      ],
      "id": "0b7d839a-3e71-491f-bb52-23302775f67c",
      "name": "Logs werden vom Logbot geholt"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 3
          },
          "conditions": [
            {
              "id": "ad317096-06b0-4c1b-bad1-500b1582701a",
              "leftValue": "={{ $json.id }}",
              "rightValue": 0,
              "operator": {
                "type": "number",
                "operation": "gt"
              }
            }
          ],
          "combinator": "and"
        },
        "looseTypeValidation": true,
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        -64,
        32
      ],
      "id": "f4c71b23-ed79-463a-902d-f6c0866cd092",
      "name": "Logs da Ja/Nein"
    },
    {
      "parameters": {
        "jsCode": "const items = $input.all();\nconst chatId = $('Ich frage nach den aktuellen Logs').first().json.message.chat.id;\nconst logs = items.map(i => i.json);\nconst count = logs.length;\n\nlet text = \"Log-Analyse (\" + count + \" Eintraege)\\n\\n\";\n\nfor (const log of logs) {\n  text += \"[\" + log.timestamp + \"] \" + log.level.toUpperCase() + \" - \" + log.hostname + \"\\n\";\n  text += log.message + \"\\n\\n\";\n}\n\nreturn [{ json: { message: text, count: count, chatId: String(chatId) } }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        160,
        -64
      ],
      "id": "a119f44a-4857-40d0-bdfb-71e62ea6720d",
      "name": "Wenn Logs da sind Claude lesbar machen"
    },
    {
      "parameters": {
        "chatId": "={{ $json.chatId }}",
        "text": "={{ $json.text }}",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        960,
        -64
      ],
      "id": "64609b01-368e-4fe9-8532-b644134ad7ac",
      "name": "Log Analyse zuschicken",
      "webhookId": "e7d39008-a410-483c-a74a-5c39310cdb1a",
      "credentials": {
        "telegramApi": {
          "id": "Q6euroUz6oZYB6fj",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const output = $input.first().json.output;\nconst match = output.match(/CHATID:(\\d+)/);\nconst chatId = match ? match[1] : '';\nconst text = output.replace(/\\n*CHATID:\\d+/, '').trim();\n\nreturn [{ json: { chatId: chatId, text: text } }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        736,
        -64
      ],
      "id": "e2c5549c-a3e2-429e-b114-95191a4c998e",
      "name": "Output aufteilen"
    }
  ],
  "pinData": {
    "Ich frage nach den aktuellen Logs": [
      {
        "json": {
          "update_id": 449297545,
          "message": {
            "message_id": 133,
            "from": {
              "id": 5918375688,
              "is_bot": false,
              "first_name": "Phil",
              "username": "Phythaka",
              "language_code": "de"
            },
            "chat": {
              "id": 5918375688,
              "first_name": "Phil",
              "username": "Phythaka",
              "type": "private"
            },
            "date": 1770838784,
            "text": "was geht bei den logs"
          }
        },
        "pairedItem": {
          "item": 0
        }
      }
    ]
  },
  "connections": {
    "Anthropic Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Output aufteilen",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Ich frage nach den aktuellen Logs": {
      "main": [
        [
          {
            "node": "Logs werden vom Logbot geholt",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Logs werden vom Logbot geholt": {
      "main": [
        [
          {
            "node": "Logs da Ja/Nein",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Logs da Ja/Nein": {
      "main": [
        [
          {
            "node": "Wenn Logs da sind Claude lesbar machen",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Wenn keine Logs da sind bescheid geben",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wenn Logs da sind Claude lesbar machen": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Output aufteilen": {
      "main": [
        [
          {
            "node": "Log Analyse zuschicken",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": false,
    "timeSavedMode": "fixed",
    "callerPolicy": "workflowsFromSameOwner",
    "errorWorkflow": "BmuRAgcIiLS0QFgO"
  },
  "versionId": "7027f809-6dcb-4119-bee1-8d6c99249ea4",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "a82e448764d8f2b69e852fe51eecebe3405e7302fe84ecfc97f52198d2a7ccf1"
  },
  "id": "VdBoEDg3vE0hSGHa",
  "tags": []
}